    * {
        font-family: Arial, Helvetica, sans-serif: 16px;
    }

    body {
        background-color: rgba(56, 112, 114, 0.808);
    }

    main {
        background-color: white;
        width: 500px;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);

    }